/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
}

/*index.html*/

.loaderBack {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background: rgb(0, 0, 0);
    opacity: 0.9;
    transition: all 0.5s;
}

#disappear {
    z-index: -1;
}

.loader {
    z-index: 1;
    position: fixed;
    top: 45%;
    left: 45%;
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.homeWrap {
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans TC', sans-serif;

}

.backImg {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.backImg div {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    opacity: 0;
    filter: alpha(opacity=0);
    animation: round 20s linear infinite;
}

.backImg img {
    min-width: 2200px;
}

@-webkit-keyframes round {
    5% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 0 - 1秒 淡入*/
    }
    25% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 1- 5秒靜止*/
    }
    30% {
        opacity: 0;
        filter: alpha(opacity=0);
        /* 5-6秒淡出*/
    }
}

@keyframes round {
    5% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 0 - 1秒 淡入*/
    }
    25% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 1- 5秒靜止*/
    }
    30% {
        opacity: 0;
        filter: alpha(opacity=0);
        /* 5-6秒淡出*/
    }
}

.backImg div:nth-child(4) {
    animation-delay: 0s;
}

.backImg div:nth-child(3) {
    animation-delay: 5s;
}

.backImg div:nth-child(2) {
    animation-delay: 10s;
}

.backImg div:nth-child(1) {
    animation-delay: 15s;
}

.homeHeader {
    margin-right: 4%;
}

.headerInfo {
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1.5px
}

.headerInfo h3 {
    margin-top: 185px;
    margin-bottom: 16px;
    font-weight: 400;
}

.headerInfo a {
    color: #FFFFFF;
    font-weight: 300;
    line-height: 18px;
}

.headerInfo a:hover {
    text-decoration: underline;
}

.homeContent ul {
    display: flex;
    flex-wrap: wrap;
    max-width: 825px;
}

.homeContent ul li {
    width: 275px;
    height: 275px;
    position: relative;
    cursor: pointer;
    transition: all 1s;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.homeContent ul li:hover>a {
    background: rgba(56, 71, 11, 0.6);
    color: rgba(255, 255, 255, 1);
}

.homeContent ul li a {
    position: absolute;
    background: rgba(56, 71, 11, 0);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: block;
    text-align: center;
    line-height: 275px;
    color: rgba(255, 255, 255, 0);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    transition: all 0.4s;
    font-size: 19px;
}

/*room.html*/

.album {
    position: relative;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 100;
    display: none;
}

.album .albumLeft {
    position: absolute;
    top: 45%;
    left: 20%;
}

.album .albumRight {
    position: absolute;
    top: 45%;
    right: 20%;
}

.album .pic {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    background-size: 45%;
    background-position: center;
    background-repeat: no-repeat;
}

.albumPic2, .albumPic3 {
    display: none;
}

.roomWrap {
    display: flex;
}

.bookingPic {
    position: relative;
    overflow: hidden;
    width: 42%;
    height: 100%;
    background: transparent linear-gradient(180deg, #FFFFFF00 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
    cursor: pointer;
    font-family: 'Noto Sans TC', sans-serif;
}

.bookingPic .roomPic {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    opacity: 0;
    filter: alpha(opacity=0);
    animation: round 15s linear infinite;
}

@-webkit-keyframes round {
    6.7% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 0 - 1秒 淡入*/
    }
    33.5% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 1- 5秒靜止*/
    }
    40.2% {
        opacity: 0;
        filter: alpha(opacity=0);
        /* 5-6秒淡出*/
    }
}

@keyframes round {
    6.7% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 0 - 1秒 淡入*/
    }
    33.5% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 1- 5秒靜止*/
    }
    40.2% {
        opacity: 0;
        filter: alpha(opacity=0);
        /* 5-6秒淡出*/
    }
}

.bookingPic .roomPic:nth-child(3) {
    animation-delay: 0s;
}

.bookingPic .roomPic:nth-child(2) {
    animation-delay: 5s;
}

.bookingPic .roomPic:nth-child(1) {
    animation-delay: 10s;
}

.bookingPic .backHomeBtn {
    max-width: 110px;
    display: flex;
    align-items: center;
    color: #38470B;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 1px;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 8px;
    border-radius: 50px;
    margin: 50px auto 0 auto;
}

.bookingPic .backHomeBtn:hover {
    text-decoration: underline;
    background-color: rgba(255, 255, 255, 0.9);
}

.bookingPic .backHomeBtn img {
    margin-right: 10px;
}

.bookingPic .bookingBtn {
    position: absolute;
    bottom: 70px;
    left: 0;
    right: 0;
    text-align: center;
    color: #38470B;
    font-weight: 400;
    font-size: 20px;
    min-width: 252px;
}

.bookingPic .bookingBtn p {
    line-height: 49px;
    margin: 0 auto;
    display: inline;
    cursor: initial;
}

.bookingPic .bookingBtn .totalPrice {
    font-size: 36px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.bookingPic .bookingBtn a {
    display: block;
    color: white;
    max-width: 252px;
    font-size: 20px;
    background: #38470B;
    line-height: 27px;
    padding: 8.5px 0;
    margin: 10px auto 0 auto;
}

.bookingPic .bookingBtn a:hover {
    background: #5c6b30;
}

.bookingPic .bookingBtn a:active {
    background: #9aaa69;
}

.bookingInfo {
    width: 58%;
    color: #38470B;
    padding: 50px 5% 33px 3%;
    box-sizing: border-box;
    font-size: 14px;
    overflow-x: hidden;
    font-family: 'Noto Sans TC', sans-serif;
}

.bookingInfo .roomTitle {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    font-weight: 500;
    margin-bottom: 38px;
}

.bookingInfo .roomTitle p {
    line-height: 25px;
}

.bookingInfo .roomTitle h2 {
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.bookingInfo .roomRule {
    font-weight: 100;
    line-height: 24px;
    margin-bottom: 35px;
}

.bookingInfo .roomInfo {
    font-weight: 300;
    line-height: 24px;
    list-style-type: disc;
    margin-left: 1.5em;
    margin-bottom: 45px;
}

.bookingInfo .roomIcon {
    display: flex;
    flex-wrap: wrap;
}

.bookingInfo .roomIcon li {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 90px;
    height: 62px;
    margin-right: 3.2%;
    margin-bottom: 25px;
    font-size: 10px;
    font-weight: 400;
    text-align: center;
    color: #38470B;
}

.bookingInfo .roomIcon .without {
    opacity: 0.2;
}

.bookingInfo .roomIcon .yesORno {
    position: absolute;
    right: 0;
}

.bookingInfo h3 {
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 8px;
}

/*外面的月曆開始*/

.calendar {
    display: flex;
    max-width: 635px;
    height: 320px;
    border: 1px solid #38470B;
    box-shadow: 0px 2px 6px #0000000A;
    text-align: center;
    padding: 27px 5% 0px 5%;
    box-sizing: border-box;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #38470B;
    position: relative;
}

.calendar .leftCal, .calendar .rightCal {
    width: 100%;
}

.calendar .leftCal {
    margin-right: 3.4%;
}

.calendar .leftBar, .calendar .rightBar {
    border-bottom: 1px solid rgba(56, 71, 11, 0.1);
}

.calendar .leftBar ul, .calendar .rightBar ul {
    display: flex;
    margin-top: 24px;
    margin-bottom: 10px;
    color: rgba(56, 71, 11, 0.5);
}

.calendar .leftBar ul li, .calendar .rightBar ul li {
    width: 38px;
}

.calendar .lastBtn {
    position: absolute;
    top: 31px;
    left: 3%;
}

.calendar .nextBtn {
    position: absolute;
    top: 31px;
    right: 3%;
}

.calendar .leftDayList, .calendar .rightDayList {
    display: flex;
    flex-wrap: wrap;
    margin-top: 14px;
}

.calendar .leftDayList li, .calendar .rightDayList li {
    width: 14%;
    height: 30px;
    margin-bottom: 6px;
    line-height: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.calendar .leftDayList .emptyDay a, .calendar .rightDayList .emptyDay a {
    display: block;
    height: 100%;
    width: 80%;
    color: #38470B;
    margin: 0 auto;
}

.calendar .leftDayList .emptyDay a:hover, .calendar .rightDayList .emptyDay a:hover {
    background: #949C7C;
    border-radius: 50%;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.calendar .delDay {
    text-decoration: line-through;
    color: rgba(56, 71, 11, 0.3);
}

.calendar .delDay a {
    color: rgba(56, 71, 11, 0.3);
    cursor: default;
}

.calendar #start {
    background: #38470B;
    color: white;
    font-weight: 700;
    border-radius: 50%;
    display: block;
    height: 100%;
    width: 30px;
    margin: 0 auto;
}

.calendar #end {
    background: #949C7C;
    color: white;
    font-weight: 700;
    border-radius: 50%;
    display: block;
    height: 100%;
    width: 30px;
    margin: 0 auto;
}

.calendar #connection {
    background: #949C7C;
    color: white;
    font-weight: 700;
    border-radius: 50%;
}

.calendar #connectionLi {
    background: rgba(56, 71, 11, 0.2);
    color: white;
    font-weight: 700;
}

.calendar #head {
    background: rgba(56, 71, 11, 0.2);
    border-radius: 50% 0 0 50%;
    color: white;
    width: 30px;
    font-weight: 700;
    padding-left: 0px;
    padding-right: 1.4%;
    margin-left: 1.4%;
}

.calendar #tail {
    background: rgba(56, 71, 11, 0.2);
    border-radius: 0 50% 50% 0;
    width: 30px;
    color: white;
    font-weight: 700;
    padding-left: 1.4%;
    padding-right: 0px;
    margin-right: 1.4%;
}

/*月曆結束*/

.inputBackground {
    display: none;
    position: fixed;
    background: hsla(0, 0%, 100%, 0.1);
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
}

.bookingInput {
    width: 1110px;
    height: 600px;
    position: fixed;
    top: 20px;
    left: 15%;
    display: flex;
    border: 1px solid #38470B;
    font-family: 'Noto Sans TC', sans-serif;
}

.bookingInput .cancelBtn {
    display: block;
    position: absolute;
    background-image: url(../images/icons8-cancel.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    height: 13px;
    width: 13px;
    padding: 5px;
    border-radius: 50%;
    top: 38px;
    right: 38px;
}

.bookingInput .cancelBtn:hover {
    background-color: #38470B;
    background-image: url(../images/icons8-cancel-white.png);
    background-repeat: no-repeat;
}

.bookingInput .cancelBtn img {
    margin: 0 auto;
}

.bookingInput .inputPlace {
    box-sizing: border-box;
    width: 40%;
    height: 100%;
    background: #38470B;
    padding: 50px 4.8% 26px 4.8%;
    color: white;
    font-weight: 400;
}

.bookingInput form {
    display: flex;
    flex-direction: column;
}

.bookingInput form label {
    margin-bottom: 7px;
    font-size: 14px;
}

.bookingInput form input[type=text] {
    margin-bottom: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    padding: 8px 10px;
    width: 100%;
    box-sizing: border-box;
}

.rightName, .rightPhone, .rightCheckin, .rightCheckout, .please {
    color: rgb(245, 190, 190);
    margin-left: 10px;
}

/*Input月曆*/

.textCheckIn, .textCheckOut {
    position: relative;
    width: 100%;
}

.calendarCheckIn, .calendarCheckOut {
    position: relative;
    position: absolute;
    display: flex;
    height: 320px;
    border: 1px solid #38470B;
    text-align: center;
    padding: 27px 33px 0px 33px;
    box-sizing: border-box;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #38470B;
    transition: all 1s;
    background: #FFFFFF;
    z-index: 100;
    right: 0;
    left: 0;
    top: 41px;
    display: none;
}

.calendarCheckIn .checkInCalInput, .calendarCheckOut .checkOutCalInput {
    width: 272px;
}

.calendarCheckIn .checkInBarInput, .calendarCheckOut .checkOutBarInput {
    border-bottom: 1px solid rgba(56, 71, 11, 0.1);
}

.calendarCheckIn .checkInBarInput ul, .calendarCheckOut .checkOutBarInput ul {
    display: flex;
    margin-top: 24px;
    margin-bottom: 10px;
    color: rgba(56, 71, 11, 0.5);
}

.calendarCheckIn .checkInBarInput ul li, .calendarCheckOut .checkOutBarInput ul li {
    width: 38px;
}

.lastBtnCheckout {
    position: absolute;
    top: 31px;
    left: 20px;
}

.nextBtnCheckout {
    position: absolute;
    top: 31px;
    right: 20px;
}

.lastBtnCheckIn {
    position: absolute;
    top: 31px;
    left: 20px;
}

.nextBtnCheckIn {
    position: absolute;
    top: 31px;
    right: 20px;
}

.calendarCheckIn .checkInDayListInput, .calendarCheckOut .checkOutDayListInput {
    display: flex;
    flex-wrap: wrap;
    margin-top: 14px;
}

.calendarCheckIn .checkInDayListInput li, .calendarCheckOut .checkOutDayListInput li {
    width: 38px;
    height: 30px;
    margin-bottom: 6px;
    line-height: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.calendarCheckIn .checkInDayListInput .emptyDay a, .calendarCheckOut .checkOutDayListInput .emptyDay a {
    display: block;
    height: 100%;
    width: 30px;
    color: #38470B;
    margin: 0 auto;
}

.calendarCheckIn .checkInDayListInput .emptyDay a:hover, .calendarCheckOut .checkOutDayListInput .emptyDay a:hover {
    background: #949C7C;
    border-radius: 50%;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.calendarCheckIn .delDay, .calendarCheckOut .delDay {
    text-decoration: line-through;
    color: rgba(56, 71, 11, 0.3);
}

.calendarCheckIn .delDay a, .calendarCheckOut .delDay a {
    color: rgba(56, 71, 11, 0.3);
    cursor: default;
}

.selectcheckIn, .selectcheckout {
    position: relative;
}

.selectcheckIn {
    margin-right: 200px;
}

/*input月曆結束*/

.bookingInput .dayCount {
    color: #949C7C;
    font-size: 14px;
    padding-bottom: 14px;
    margin-bottom: 10px;
    border-bottom: 1px solid #949C7C;
}

.bookingInput .totalPrice {
    font-weight: 500;
    font-size: 14px;
    text-align: right;
    line-height: 20px;
    margin-bottom: 20px;
}

.bookingInput .totalPrice span {
    font-size: 26px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    line-height: 36px;
}

.bookingInput input[type=button] {
    color: white;
    background: #38470B;
    border: 1px solid #FFFFFF;
    width: 100%;
    padding: 9px 0;
    font-size: 18px;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 700;
    cursor: pointer;
}

.bookingInput input[type=button]:hover {
    background: #495c12;
}

.bookingInput input[type=button]:active {
    background: #344209;
}

.bookingInput .statement {
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    margin-top: 18px;
}

.bookingInput .infoPlace {
    box-sizing: border-box;
    width: 60%;
    background: white;
    color: #38470B;
    padding: 35px 6.9% 26px 2.2%;
    font-weight: 400;
    overflow-x: hidden;
}

.bookingInput .infoPlace .titleLine {
    position: relative;
    height: 32px;
    margin-bottom: 8px;
}

.bookingInput .infoPlace h2 {
    position: absolute;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    line-height: 33px;
    background: white;
    display: inline;
    z-index: 99;
    top: 0;
    padding-right: 15px;
}

.bookingInput .infoPlace .line {
    height: 0;
    top: 50%;
    left: 0;
    right: 0;
    position: absolute;
    border: 1px solid rgba(148, 156, 124, 0.2);
}

.bookingInput .infoPlace p {
    line-height: 24px;
}

.bookingInput .infoPlace .roomIcon {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    color: #949C7C;
    margin-top: 20px;
    margin-bottom: 15px;
}

.bookingInput .infoPlace .roomIcon li {
    width: 77px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
    font-size: 10px;
}

.bookingInput .infoPlace .roomIcon img {
    margin-bottom: 5px;
    max-width: 75%;
}

.bookingInput .infoPlace .roomIcon .none {
    display: none;
}

.bookingInput .infoPlace h3 {
    font-weight: 700;
    position: relative;
    line-height: 24px;
}

.bookingInput .infoPlace h3 .line {
    top: 50%;
    left: 5rem;
    right: 0;
    position: absolute;
    border: 1px solid rgba(148, 156, 124, 0.2);
}

.bookingInput .infoPlace .roomList {
    font-weight: 100;
    list-style-type: disc;
    font-size: 12px;
    line-height: 26px;
    margin: 12px 0;
}

.bookingInput .infoPlace .roomList li {
    margin-left: 1.5rem;
}

.bookingInput .infoPlace .process {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 19px;
}

.bookingInput .infoPlace .process li {
    box-sizing: border-box;
    width: 160px;
    height: 136px;
    background: white;
    border-radius: 0px 0px 10px 10px;
    border: 1px solid #949C7C;
}

.bookingInput .infoPlace .process div {
    background: #949C7C;
    display: flex;
    justify-content: center;
}

.bookingInput .infoPlace .process img {
    margin: 9px 0;
}

.bookingInput .infoPlace .process .processIcon {
    margin: 13px;
}

.bookingInput .infoPlace .process p {
    font-size: 12px;
    font-weight: 100;
    background: white;
    text-align: center;
    padding: 5px 9px 0px 7px;
    margin: 0;
}

.bookSuccess, .bookFail {
    box-sizing: border-box;
    width: 90%;
    height: 610px;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 20px;
    left: 5%;
    right: 5%;
    background: #38470B;
    color: white;
    padding: 125px 0;
    text-align: center;
    display: none;
    font-family: 'Noto Sans TC', sans-serif;
}

.bookSuccess h3, .bookFail h3 {
    font-weight: 500;
    margin: 42px 0;
    font-size: 50px;
}

.bookSuccess p, .bookFail p {
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
}